[theme="Carnival"] {
  --base: #404857;
  --border: #000000;
  --aux1: #44ff00;
  --aux2: #ff0048;
  --first: #ff0048;
  --second: #44ff00;
  --third: #3e0eff;
  --fourth: #ffa30e;
  --fifth: #ff00fb;
  --sixth: #ffff00;
}

[theme="Electric"] {
  --base: #000000;
  --border: #ffffff;
  --auxBackground: #303030;
  --aux1: #fffc00;
  --aux2: #ff009f;
  --first: #fffc00;
  --second: #3f00ff;
  --third: #00ff00;
  --fourth: #55ffff;
  --fifth: #ff009f;
  --sixth: #ff073a;
}

[theme="Zebra"] {
  --base: #ffffff;
  --border: #000000;
  --auxBackground: #303030;
  --aux1: #ffffff;
  --aux2: #000000;
  --first: #000000;
  --second: #ffffff;
  --third: #000000;
  --fourth: #ffffff;
  --fifth: #000000;
  --sixth: #ffffff;
}

[theme="Christmas"] {
  --base: #ffffff;
  --border: #cc9901;
  --auxBackground: #303030;
  --aux1: #b70d00;
  --aux2: #005c01;
  --first: #b70d00;
  --second: #005c01;
  --third: #b70d00;
  --fourth: #005c01;
  --fifth: #b70d00;
  --sixth: #005c01;
}

[theme="Rose"] {
  --base: #4e4e50;
  --border: #1a1a1d;
  --auxBackground: #303030;
  --aux1: #c3073f;
  --aux2: #950740;
  --first: #c3073f;
  --second: #950740;
  --third: #6f2232;
  --fourth: #c3073f;
  --fifth: #950740;
  --sixth: #6f2232;
}

[theme="Sea"] {
  --base: #0b0c10;
  --border: #c5c6c7;
  --auxBackground: #303030;
  --aux1: #66fcf1;
  --aux2: #45a29e;
  --first: #45a29e;
  --second: #66fcf1;
  --third: #1f2833;
  --fourth: #45a29e;
  --fifth: #66fcf1;
  --sixth: #1f2833;
}

[theme="Harvest"] {
  --base: #302c21;
  --border: #747474;
  --auxBackground: #303030;
  --aux1: #ffe400;
  --aux2: #ff652f;
  --first: #ff652f;
  --second: #ffe400;
  --third: #14a76c;
  --fourth: #ff652f;
  --fifth: #ffe400;
  --sixth: #14a76c;
}

[theme="Forest"] {
  --base: #00100b;
  --border: #1a1a1d;
  --auxBackground: #303030;
  --aux1: #1fff1f;
  --aux2: #157145;
  --first: #004b23;
  --second: #1fff1f;
  --third: #157145;
  --fourth: #004b23;
  --fifth: #1fff1f;
  --sixth: #157145;
}

[theme="Flag"] {
  --base: #b2b2d9;
  --border: #000000;
  --auxBackground: #303030;
  --aux1: #ffffff;
  --aux2: #b31942;
  --first: #b31942;
  --second: #ffffff;
  --third: #0a3161;
  --fourth: #b31942;
  --fifth: #ffffff;
  --sixth: #0a3161;
}
