@Media (min-width: 0px) {
    .Modal-Container {
        width: 90%
    }

    .Modal-Content {
        font-size: .85em;
        padding: 2em
    }
}

@Media (min-width: 550px) {
    .Modal-Container {
        width: 70%
    }

    .Modal-Content {
        font-size: 1em;
        padding: 2.25em
    }
}


@Media (min-width: 750px) {
    .Modal-Container {
        width: 55%
    }

    .Modal-Content {
        font-size: 1.25em;
        padding: 2.5em
    }
}

@Media (min-width: 1400px) {
    .Modal-Container {
        width: 40%
    }

    .Modal-Content {
        font-size: 1.5em;
        padding: 3.5em
    }
}

