.App {
  text-align: center;
  /* cursor: pointer; */
  user-select: none;
  -webkit-user-select: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.piece-container {
  background-color: var(--base);
}

/* .piece-container {
  background-color: var(--base);
}

.piece-unit {
  border: 1px solid;
  border-color: var(--border);
}

.piece-unit:nth-of-type(6n + 1) {
  background-color: var(--first);
}
.piece-unit:nth-of-type(6n + 2) {
  background-color: var(--second);
}
.piece-unit:nth-of-type(6n + 3) {
  background-color: var(--third);
}
.piece-unit:nth-of-type(6n + 4) {
  background-color: var(--fourth);
}
.piece-unit:nth-of-type(6n + 5) {
  background-color: var(--fifth);
}
.piece-unit:nth-of-type(6n + 6) {
  background-color: var(--sixth);
}
*/
